.shipping__edit {
    font-family: sans-serif;
    padding: 60px 20px;
}

.shipping__edit-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.form__group input {
    padding: 10px 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.form__submit {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}