body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    padding: 10px 15px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__inner-logo {
    margin: 0;
}

.header__inner-image {
    height: 24px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify__inner {
    margin-top: 150px;
    text-align: center;
}

/* テキスト部分 */
.verify__text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* 「認証はこちらから」ボタン */
.verify__button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    background-color: #c6c5c5;
    text-decoration: none;
    transition: all 0.2s;
}

.verify__button:hover {
    background-color: #000;
    color: #fff;
}

/* 再送ボタン */
.verify__form {
    margin-top: 25px;
    
}

.verify__form button {
    background: none;
    border: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    transition: opacity 0.2s;
    text-decoration: none;
}

.verify__form button:hover {
    opacity: 0.7;
}